<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        {% load static %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="static/css/style.css">
        <!-- <link href="static/css/outline.css" rel="stylesheet">
        <link href="static/css/outline-settings.css" rel="stylesheet"> -->
        <title>BS</title>
    </head>
    <body>
        <header>
            <h1 class="proj-name">Backend Statistics</h1>
        </header>
        <div class="sidenav">
		    <a class="active" href="/">Главная</a>
            <a href="/statistics">Общая статистика</a>
		    <a href="/relevance">Востребованность</a>
		    <a href="/area">География</a>
            <a href="/skills">Навыки</a>
            <a href="/vacancies">Последние вакансии</a>
	    </div>
        <main>
            <div class="hero">
                <img class="hero-img" src="static/imgs/1.jpg" alt="img" width="250" height="150">
                <h2 class="hero-h2">Backend-программист</h2>
                <img class="hero-img" src="static/imgs/ui.png" alt="img" width="250" height="150">
            </div>
            <p>
                Backend-разработчик — это программист, который отвечает за внутреннюю и вычислительную логику веб-сайта или веб-приложения, а также иного программного обеспечения и информационных систем. Backend-разработчик создаёт компоненты и функции, которые доступны пользователю приложения или сайта через интерфейс. Проще говоря, бэкендеры — это программисты, которые разрабатывают всё то, что не видит и напрямую не трогает пользователь. То есть красивая форма ввода данных или корзина интернет-магазина — это фронтенд, а хранение данных в СУБД, связка полей формы регистрации и корзины, интеграция с платёжным шлюзом, автоматические письма, подгрузка и обновление контента — это всё бэкенд.
            </p>
            <p>Чем занимается Backend-разработчик, зависит от грейда: junior, middle или senior.</p>
            <p id="junior">У младшего специалиста, так как он только входит в специальность и его опыт ограничен, такие обязанности:</p>
            <ul>
                <li>Написать код.</li>
                <li>Исправить простые ошибки (баги).</li>
                <li>Тестировать работу кода.</li>
                <li>Составлять инструкцию для пользователей.</li>
                <li>Продолжать развивать навыки в Backend-программировании.</li>
            </ul>
            <p id="middle">После 2—3 лет работы джуниор Backend-разработчик продвигает свои скилы и перерастает в мидла. Вместе с грейдом меняются и его обязанности, список задач выглядит примерно так:</p>
            <ul>
                <li>Работать с более сложными кодом и багами.</li>
                <li>Проверять тестирование.</li>
                <li>Планировать проекты.</li>
                <li>Составлять инструкции для пользователей.</li>
                <li>Работать с покупателями.</li>
                <li>Наставничество над младшими специалистами.</li>
            </ul>
            <p id="senior">
                Когда разработчик накапливает 5+ лет опыта и уже разбирается в IT-системе бизнеса, его считают старшим специалистом или сеньор Backend-разработчиком. Тогда круг задач становится таким:
            </p>
            <ul>
                <li>Планировать, консультировать и тщательно анализировать сложные продукты.</li>
                <li>Работать с покупателями.</li>
                <li>Администрировать финальную стадию продукта.</li>
            </ul>
            <p>Backend-разработчику пригодится техническое образование, чтобы понять алгоритм работы приложений. Преимуществом станет и знание английского языка, ведь много туториалов не переведены на русский.</p>

            <p>Чтобы стать стажёром в компании, необходимы такие навыки:</p>
            <ul>
                <li>Разбираться в основах программирования — понимать базовые конструкции языка, работать с функциями и переменными.</li>
                <li>Ориентироваться в библиотеках — знать, где искать шаблоны, для каких задач подходят определённые классы библиотек.</li>
                <li>Освоить фреймворки — каркасы, которые определяют структуру программы. Выбор зависит от языка программирования.</li>
                <li>Уметь работать с базами данных: знать особенности систем Oracle, MS SQL Server, MySQL, Postgres и взаимодействовать с ними посредством команд SQL.</li>
                <li>Разбираться в системе контроля версий Git. Она показывает историю изменений кода и незаменима при командной работе.</li>
            </ul>
            <img class="skill-img shadow" src="static/imgs/skills.png" alt="img" width="712" height="400">
            <p>Помимо «жёстких» навыков, Backend-разработчику не обойтись и без soft skills:</p>
            <ul>
                <li>Работать в команде. Backend-разработчик постоянно общается с коллегами, иногда и с заказчиками.</li>
                <li>Быть кропотливым и настойчивым. В разработке случаются моменты, когда код не получается. Тут важно сесть и понять, в чём проблема. Найти информацию, поспрашивать у коллег, погуглить.</li>
                <li>Спокойно относиться к обратной связи как от опытных коллег, так и от заказчиков. Редко когда код получается идеальным с первого раза, приходится дорабатывать.</li>
                <li>Декомпозировать задачи. Часто приходит задача, которую за один раз не сделать. Нужно уметь разделять её на несколько маленьких, понимать, с чего лучше начать.</li>
            </ul>
            <p class="source">Текст и картинки взяты из <a href = "https://practicum.yandex.ru/blog/kto-takoi-backend-razrabotchik/">статьи блога Яндекс Практикума</a></p>
        </main>
        <footer>
            <p>Студент 2-го курса ИРИТ-РТФ УрФУ</p>
            <p>ФИО: Леонтьев Дмитрий Алексеевич</p>
            <p>Группа: РИ-230912</p>
        </footer>
    </body>
</html>
