<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        {% load static %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="static/css/style.css">
        <!-- <link href="static/css/outline.css" rel="stylesheet">
        <link href="static/css/outline-settings.css" rel="stylesheet"> -->
        <title>BS</title>
    </head>
    <body>
        <header>
            <h1 class="proj-name">Backend Statistics</h1>
        </header>
        <div class="sidenav">
		    <a href="/">Главная</a>
            <a href="/statistics">Общая статистика</a>
		    <a class="active" href="/relevance">Востребованность</a>
		    <a href="/area">География</a>
            <a href="/skills">Навыки</a>
            <a href="/vacancies">Последние вакансии</a>
	    </div>
        <main>
            <section class="dynamic all">
                <div class="subtitle border">
                    <h2>Динамика по годам только для вакансий Backend-программиста</h2>
                </div>
                <div class="dynamic vac ">
                    <div class="table-container">
                        <table class = "margin">
                            <h3>Таблица средней зарплаты и количества вакансий от года</h3>
                        <thead >
                            <tr>
                                <th class="year">Год</th>
                                <th>Средняя з/п, рубль</th>
                                <th>Количество вакансий</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for e in data_statyearvac %}
                                <tr id="answervac">
                                    <td>{{ e.year }}</td>
                                    <td>{{ e.salary_avg }}</td>
                                    <td>{{ e.count }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                    <div class="imgs">
                        <h3>График средней зарплаты от года</h3>
                        <img class="avg_salary shadow" src="static/imgs/avg_back.png" alt="img" width="480" height="288">
                        <h3>График количества вакансий от года</h3>
                        <img class="count shadow" src="static/imgs/count_back.png" alt="img" width="480" height="288">
                    </div>
                </div>
            </section>


        </main>
        <footer>
            <p>Студент 2-го курса ИРИТ-РТФ УрФУ</p>
            <p>ФИО: Леонтьев Дмитрий Алексеевич</p>
            <p>Группа: РИ-230912</p>
        </footer>
    </body>
</html>
