<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        {% load static %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="static/css/style.css">
        <!-- <link href="static/css/outline.css" rel="stylesheet">
        <link href="static/css/outline-settings.css" rel="stylesheet"> -->
        <title>BS</title>
    </head>
    <body>
        <header>
            <h1 class="proj-name">Backend Statistics</h1>
        </header>
        <div class="sidenav">
		    <a href="/">Главная</a>
            <a class="active" href="/statistics">Общая статистика</a>
		    <a href="/relevance">Востребованность</a>
		    <a href="/area">География</a>
            <a href="/skills">Навыки</a>
            <a href="/vacancies">Последние вакансии</a>
	    </div>
        <main>
            <section class="dynamic all">
                <div class="subtitle border">
                    <h2>Статистика по городам для всех вакансий</h2>
                </div>
                <div class="dynamic area">
                    <div class="table-container">
                        <table class = "margin">
                            <h3>Таблица средней з/п от города</h3>
                        <thead >
                            <tr>
                                <th class="year">Город</th>
                                <th>Средняя з/п, рубль</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for e in data_statcity_salary %}
                                <tr>
                                    <td>{{ e.city }}</td>
                                    <td>{{ e.salary_avg }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                    <div class="table-container">
                        <table class = "margin">
                            <h3>Таблица процента вакансий от города</h3>
                        <thead >
                            <tr>
                                <th class="year">Город</th>
                                <th>Процент вакансий</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for e in data_statcity_percent %}
                                <tr>
                                    <td>{{ e.city }}</td>
                                    <td>{{ e.percent }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                    <div class="imgs">
                        <h3>График средней з/п от города</h3>
                        <img class="avg_salary shadow" src="static/imgs/avg_city.png" alt="img" width="480" height="288">
                        <h3>График процента вакансий от города</h3>
                        <img class="count shadow" src="static/imgs/percent_city.png" alt="img" width="480" height="288">
                    </div>
                </div>
                <div class="subtitle border">
                    <h2>Динамика по годам для всех вакансий</h2>
                </div>
                <div class="dynamic all  ">
                    <div class="table-container">
                        <table class = "margin">
                            <h3>Таблица средней зарплаты и количества вакансий от года</h3>
                        <thead >
                            <tr>
                                <th class="year">Год    </th>
                                <th>Средняя з/п, рубль</th>
                                <th>Количество вакансий</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for e in data_statyear %}
                                <tr id="answer">
                                    <td>{{ e.year }}</td>
                                    <td>{{ e.salary_avg }}</td>
                                    <td>{{ e.count }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                    <div class="imgs">
                        <h3>График средней зарплаты от года</h3>
                        <img class="avg_salary shadow" src="static/imgs/avg.png" alt="img" width="480" height="288">
                        <h3>График количества вакансий от года</h3>
                        <img class="count shadow" src="static/imgs/count.png" alt="img" width="480" height="288">
                    </div>
                </div>
                <div class="subtitle border">
                    <h2>Навыки для по годам для всех вакансий</h2>
                </div>
                <div class="subtitle">
                    <h3>График топ-5 навыков</h3>
                </div>
                <img class="skill-img shadow" src="static/imgs/skills_all.png" alt="img" width="480" height="288">
                <div class="subtitle">
                    <h3>Таблица топ-20 навыков</h3>
                </div>
                <div class="dynamic skills ">
                    {% for year, group in data_statskill.items %}
                    <div class="table-container skills">
                        <h3>{{ year }} год</h3>
                        <table class="skills">
                        <thead >
                            <tr>
                                <th>Навык</th>
                                <th>Количество упоминаний</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for e in group %}
                                <tr>
                                    <td>{{ e.skill }}</td>
                                    <td>{{ e.number }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </main>
        <footer>
            <p>Студент 2-го курса ИРИТ-РТФ УрФУ</p>
            <p>ФИО: Леонтьев Дмитрий Алексеевич</p>
            <p>Группа: РИ-230912</p>
        </footer>
    </body>
</html>